@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&family=Rubik:wght@300;400&display=swap");

.wrap {
	top: 100px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	background-color: #c0c0c0;
}
.wrapper {
	display: flex;
	color: white;
}
.archive {
	width: 200px;
	height: 20px;
	color: #424242;
	font-weight: 700;
	font-family: "Rubik", sans-serif;
	margin: 14px 0;
	font-size: 14px;
}
.selected {
	color: white;
	font-family: "Rubik", sans-serif;
	margin: 14px 70px 14px 40px;
	font-size: 14px;
	width: 200px;
	height: 20px;
	font-size: 14px;
}
.cancelBtn {
	width: 200px;
	color: white;
	border: none;
	font-size: 14px;
	background-color: transparent;
	margin: 14px 0;
	font-family: "Rubik", sans-serif;
}
.csv {
	border: none;
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: transparent;
	margin-right: 15px;
}
.csvIcon {
	color: white !important;
	font-weight: 700 !important;
	font-size: 13px !important;
	margin: 7px 5px 7px 0;
}
