.nameCell {
	padding-left: 10px;
}
.parentsIcon {
	margin-right: 8px;
}
.parents {
	align-items: center;
	display: flex;
}
.archivedTitle {
	height: 33px;
	background-color: #fff;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	padding: 4px 0 4px 33px;
	display: flex;
	align-items: center;
	color: #5b5b5b !important;
	box-sizing: border-box;
}
.actionsButton {
	width: 72px;
	display: flex;
	justify-content: space-around;
}
.actionsButtonArchived svg {
	width: 72px;
	position: relative;
	left: 20px;
	top: 10px;
}
