.wrap {
	height: 40px;
	left: 0px;
	top: 60px;
	background: #5b5b5b;
	order: 1;
	flex-grow: 0;
	margin: 0px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 200px;
	padding-left: 200px;
}
.wrap Button {
	color: white;
	font-weight: 400;
	font-size: 12px;
}

